<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atelier BD</title>

    <script src="../static/app.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>
        Atelier sur la migration de BD
    </h1>

    <h2>
        Contenu de la BD: <button onClick="window.location.reload();">Rafraîchir</button>
    </h2>

    <h2>
        État du schéma:
        {% if migration_state == 0 %}
            initial
        {% else %}
            {{migration_state}} migration(s) appliquée(s)
        {% endif %}
    </h2>

    <div id="db-content">

        <table>
            <tbody>
                <tr>
                    {% for table in tables %}
                        <td>
                            <h3> Nom de la table: {{ table.name }} </h3>

                            <table>
                                <thead>
                                    <tr>
                                        {% for column in table.columns %}
                                            <th class="sql-table">{{ column }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in table.entries %}
                                        <tr>
                                            {% for value in entry %}
                                                <td class="sql-table">{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div>
                                <b>Clé primaire: </b> {{table.primary_key[0]}}
                            </div>
                            {% if table.foreign_keys|length > 0 %}
                                <div>
                                    <b>Clés étrangères: </b>
                                    {% for foreign_key in table.foreign_keys %}

                                    <div>{{foreign_key.column_name}} --> {{foreign_key.referenced_table_name}}.{{foreign_key.referenced_column_name}}</div>

                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>



    </div>

    <h2>
        (Re)Créer la BD
        <button onclick="up()">Créer</button>
        <span id="up-status"></span>
    </h2>

    <h2>
        Migrer la BD
        <button onclick="migrate()">Migrer</button>
        <span id="migrate-status"></span>
    </h2>

    <h2>
        Faire une retour arrière (rollback) de la migration
        <button onclick="rollback()">Migration arrière</button>
        <span id="rollback-status"></span>
    </h2>
</body>
</html>