<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atelier BD</title>

    <script src="../static/app.js"></script>
</head>
<body>
    <h1>
        Atelier sur la migration de BD
    </h1>

    <h2>
        Créer la BD pour la première fois
        <button>Créer</button>
    </h2>

    <h2>
        Migrer la BD
        <button>Migrer</button>
    </h2>

    <h2>
        Faire une retour arrière (rollback) de la migration
        <button>Migration arrière</button>
    </h2>
</body>
</html>